body {
  margin: 0;
  font-family: "Nerko One", cursive; /* Apply Nerko One font to the body */
  overflow: hidden;
  color: white;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

#bestScore {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.bitter-reset-score {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

.red-letter {
  color: red;
}

.white-text{
  color: white;
}

#resetScore {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

#instructions {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px; /* Add padding for better spacing around the text */
  font-size: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  border-radius: 10px; /* Rounded corners */
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#results {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: rgb(228, 21, 21);
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  /* background-color: rgba(0, 0, 0, 0.8); */
  padding: 20px;
  border-radius: 40px;
}

.caveat-restart {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700; /* You can adjust the weight between 400 and 700 */
  font-style: normal;
}

#results {
  display: none;
}

body.game-over #results {
  display: block;
}

body.game-over #score, body.game-over #instructions {
  display: none;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

